<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/introduction.css">
</head>
<body ng-app="myApp">
    <div ng-include="'component/header.html'"></div>
    <div class="container" ng-controller="introductionController">
        <h1>Introduction</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
        <p>Fee: {{ fee | number: 2 }}</p>
        <p>Date: {{ date | date: 'short' }}</p>
        <p>Name: {{ name | uppercase }}</p>

        <input type="text" ng-model="search">
        <ul>
            <li ng-repeat="user in users | filter:customFilter">
                {{ user.name }} - {{ user.age }}
            </li>
        </ul>
    </div>
    <div ng-include="'component/footer.html'"></div>

    <script src="vendor/angular.min.js"></script>
    <script>
        var app = angular.module("myApp", []);
        app.controller("introductionController", function($scope) {
            $scope.title = "Introduction";
            $scope.fee = 1000000.245;
            $scope.date = new Date();
            $scope.name = "Nguyen Van A";

            $scope.users = [
                {name: "Nguyen Van A", age: 20},
                {name: "Nguyen Van B", age: 21},
                {name: "Nguyen Van C", age: 22}
            ];

            $scope.customFilter = function(user) {
                if (!$scope.search) {
                    return true;
                }
                var searchLower = $scope.search.toLowerCase();
                return user.name.toLowerCase().includes(searchLower);
            };
        });
    </script>
</body>
</html>