.main-content {
    margin: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 2px dashed orangered;
}

/*  */
.product-item {
    list-style-type: none;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.product-link {
    margin-right: 10px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.product-link:hover {
    text-decoration: underline;
}

.product-image {
    max-width: 50px;
    max-height: 50px;
    border-radius: 5px;
}